html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
#content{
    width:100%;
    height:100%;
    overflow: hidden;
}
.stageBackground{
    display: block;
    width:100%;
    height:100%;
    background: #eee;
    position:relative;
}
.stageBackground .stage{
    width:100%;
    height:100%;
}
.stageBackground .nav{
    position:absolute;
    width:70%;
    height:30px;
    background: #ddd;
    bottom:30px;
    left:15%;
}